@import url(__cookies-form-button/popup__cookies-form-button.css);
@import url(__cookies-button/_close/popup__cookies-button_close.css);
@import url(__cookies-form-text/popup__cookies-form-text.css);
@import url(__cookies-form/popup__cookies-form.css);
@import url(__cookies/popup__cookies.css);
@import url(__contacts-container-policy/popup__contacts-container-policy.css);
@import url(__contacts-container-required-symbol/popup__contacts-container-required-symbol.css);
@import url(__contacts-container/popup__contacts-container.css);
@import url(__contacts-container-required-all/popup__contacts-container-required-all.css);
@import url(__contacts-container-required/popup__contacts-container-required.css);
@import url(__contacts-container-name/popup__contacts-container-name.css);
@import url(__contacts-form/popup__contacts-form.css);
@import url(__contacts-container-input/popup__contacts-container-input.css);
@import url(__contacts-phone-container/popup__contacts-phone-container.css);
@import url(__contacts-phone/popup__contacts-phone.css);
@import url(__contacts/popup__contacts.css);
@import url(__contacts-container-phone/popup__contacts-container-phone.css);
@import url(__success/popup__success.css);
@import url(__success-button/popup__success-button.css);
@import url(__success-image/popup__success-image.css);
@import url(__success-text/popup__success-text.css);
@import url(__success-title/popup__success-title.css);
@import url(__burger-button/popup__burger-button.css);
@import url(__burger-nav/popup__burger-nav.css);
@import url(__burger-nav-list-item/popup__burger-nav-list-item.css);
@import url(__burger-nav-list-item-link/popup__burger-nav-list-item-link.css);
@import url(__burger-nav-list/popup__burger-nav-list.css);
@import url(__burger/popup__burger.css);
@import url(__cookies-form-button/popup__cookies-form-button.css);
@import url(__contacts-phone/_ru/popup__contacts-phone_ru.css);
@import url(__burger-button/_close/popup__burger-button_close.css);
@import url(__contacts-button/_close/popup__contacts-button_close.css);
@import url(__contacts-button/_submit/popup__contacts-button_submit.css);
@import url(__contacts-button/_inactive/popup__contacts-button_inactive.css);
@import url(__contacts-phone/_ru/popup__contacts-phone_ru.css);
@import url(__cookies/_active/popup_cookies_active.css);
@import url(__cookies-form-button/_accept/popup__cookies-form-button_accept.css);
@import url(__cookies-form-button/_decline/popup__cookies-form-button_decline.css);
@import url(__success-button/_close/popup__success-button_close.css);
@import url(_active/popup_active.css);

.popup {
  background-color: var(--grayscale-07);
  position: fixed;
  border-radius: 16px;
  display: none;
  flex-direction: column;
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  transition: visibility .3s, opacity .3s linear;
}