.header__menu-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 1024px) {
  .header__menu-container {
    margin-left: 60px;
  }
}
