.about__content-section1-img {
  display: none;
}

@media screen and (min-width: 1024px) {
  .about__content-section1-img {
    display: block;
    position: absolute;
    left: -60px;
    top: 280px;
  }
}