.footer__container-logo-text {
  font-size: 29.6px;
  font-weight: 600;
  margin: 4px 0 0 6px;
  line-height: 28.11px;
  color: var(--grayscale-07);
  cursor: pointer;
  text-decoration: none;
}

@media screen and (min-width: 1024px) {
  .footer__container-logo-text {
    font-size: 37px;
    margin-top: 4px;
    text-decoration: none;
  }
}