.business__network-social-list-item_tr {
    margin-top: 65px;
}

.business__network-social-list-item-image_tr {

}

@media screen and (min-width: 1024px) {
    .business__network-social-list-item_tr {
        margin-top: 93px;
    }

    .business__network-social-list-item-image_tr {
        width: 45px;
        height: 45px;
    }
}