.why_budss__container-item-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.24;
  margin-top: 16px;
}

@media screen and (min-width: 1024px) {
  .why_budss__container-item-text {
    font-size: 20px;
  }
}