@import url(__container-item-text/why_budss__container-item-text.css);
@import url(__container-item-title/why_budss__container-item-title.css);
@import url(__container-item/why_budss__container-item.css);
@import url(__container-item-description/why_budss__container-item-description.css);
@import url(__container-item-image/why_budss__container-item-image.css);
@import url(__head-text/why_budss__head-text.css);
@import url(__head/why_budss__head.css);
@import url(__container-item-image-1/why_budss__container-item-image-1.css);
@import url(__container-item-image-4/why_budss__container-item-image-4.css);
@import url(__container-item-image-2/why_budss__container-item-image-2.css);
@import url(__container-item-image-3/why_budss__container-item-image-3.css);
@import url(__head-text-desc/why_budss__head-text-desc.css);
@import url(__head-title/why_budss__head-title.css);
@import url(__container-item-image-2/why_budss__container-item-image-2-1.css);
@import url(__container-item-image-2/why_budss__container-item-image-2-2.css);
@import url(__container-item-image-2/why_budss__container-item-image-2-3.css);
@import url(__container/why_budss__container.css);

.why_budss {
  display: flex;
  flex-direction: column;
  color: var(--grayscale-07);
  gap: 21px;
  margin-bottom: 80px;
}
